.header-wrapper {
    background: var(--color-secondary);
    padding: 12px 0;
    display: flex;
    height: 70px;
}

.main-wrapper {
    height: calc(100vh - 120px);
    background-color: rgba(0,0,0,0.1);
    overflow-y: auto;
}

.main-content {
    height: 100%;
}

.footer-wrapper {
    height: 50px;
    background-color: var(--color-primary);
}